{% assign sidebar = site.data.data-uk.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  <div class="lang-container">
    <ul class="lang-list">
      <li><a href="{{ site.baseurl }}/">EN</a></li>
      <li><a href="{{ site.baseurl }}/uk" class="active">UK</a></li>
    </ul>
  </div>

  {% include contact.html %}

  {% if sidebar.education %}
    {% include_relative uk/education.html %}
  {% endif %}

  {% include_relative uk/language.html %}
  {% include_relative uk/interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
